.hero {
  padding: 10rem;
  background-color: var(--light);

  &--bgimg {
    background-image: url(../../images/hero-small.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.4) inset;
  }

  h1 {
    font-size: 50rem;
    color: var(--light);
    line-height: 30rem;
    margin-bottom: 15rem;
    margin-top: 200rem;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 40rem;
    color: var(--light);
    line-height: 30rem;
    margin-bottom: 15rem;
    margin-top: 30rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  p {
    color: var(--light);
    font-size: 20rem;
    display: flex;
    margin-top: 40rem;
    justify-content: center;
    align-content: center;
  }

  @include respond-to("small") {
    &__wrap {
      font-size: 100rem;
    }

    &--bgimg {
      background-image: url(../../images/hero-big.svg);
    }
  }
}
