.nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, min-content);

  background-color: var(--light);
  padding: 0rem 200rem 0rem 200rem;
  box-shadow: 0px 0px 10px 0px var(--elements);

  &__lblock {
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    align-items: center;
    padding: 12rem;
  }

  &__rblock {
    grid-row: 1/2;
    grid-column: 3/4;

    display: flex;
    align-items: center;
    padding: 12rem;
    font-size: 40px;
  }

  &__dropl {
    grid-row: 2/3;
    grid-column: 1/-1;

    background-color: var(--light);
    display: none;
    font-size: 16px;
  }

  &__toggle:checked ~ &__dropl {
    display: block;
    li {
      padding: 15rem 10rem;
      border-bottom: 1px var(--delta) solid;
    }
  }

  @include respond-to("small") {
    grid-template-columns: 1fr min-content minmax(590rem, auto) min-cont 1fr;

    &__lblock {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &__dropl {
      grid-row: 1/2;
      grid-column: 3/4;

      display: flex;
      align-items: center;
      li {
        margin-right: 20rem;
      }
    }

    &__rblock {
      display: none;
    }
  }
}
