html {
  font-size: 1px; /*for using REM units!*/
}
body {
  font-family: "Montserrat";
  font-size: 12rem;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat Light";
}
